# Auto detect text files and perform LF normalization
* text=auto
.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/img/PLANETE[[:space:]]HOTEL[[:space:]]2024.mp4 filter=lfs diff=lfs merge=lfs -text
